@font-face {
    font-family: 'Inter';
    src: url('@/fonts/Inter-400.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url('@/fonts/Inter-700.ttf');
    font-weight: 700;
}