.container {
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.viewer {
    width: 100%;
    min-height: 100vh;
    padding: 70px 0 70px 0;
    font-family: "Inter", sans-serif;
}

.viewer__heading {
    font-size: 90px;
    font-weight: 700;
    letter-spacing: -0.02em;

    background: linear-gradient(90deg, #fff, #9ca3af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: 10px;
}
.viewer__subtitle {
    font-size: 28px;
    color: #9ca3af;
    font-weight: 400;

    max-width: 500px;
    line-height: 1.6;
}
.viewer__text-wrapper {

}